:host {
    /* display: block enables the margin-top: 1 rem to take effect 
    as all elements by default are not treated as block level elements */
    display: block;
    margin-top: 1rem;
}

mat-spinner {
    margin:auto;
}

.info-text {
    text-align: centre;
}

p {
    padding-top: 20px;
}

.post-image {
    /* width: 100%; */
    height: 10rem;
    margin: 2rem, 0
}

.post-image img {
    /* width: 100%; */
    height: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-paginator {
    /* 1rem = 16px */
    margin-top: 1rem;
}